.user,.change{
    border: 1px solid #e2e2e2;
    display: flex;
    margin: 10px;
}
.user-logo,.change-logo{
    width: 80px;
}

.user-info,.change-info{
    flex: 1;
}

.user-account,.change-btn-wraper{
    width: 60px;
}

.signin{
    display: flex;
    margin: 10px 0;
    border: 1px solid #e2e2e2;
}
.signin-info{
    flex:1;
}

.gather-bar{
    position: relative;
    width: 100%;
    height: 30px;
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
    font-size: 15px;
}
.gather-progress{
    position: absolute;
    left:0;
    top:0;
    background: greenyellow;
    width:0;
    z-index: 0;
    height: 100%;
}
.gather-time{
    position: relative;
    z-index: 10
}

.gather-game{
    width: 100%;
    height: 100px;
    background: #e26e0f;
    margin-bottom: 10px;
}

.gather-btn-wrapper{
    width: 200px;
    margin: 0 auto;
    border: 1px solid #e2e2e2;
}

.gather-time-union{
    margin:0;
    padding:0;
}